
sip
soupsieve==2.2.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0

torch-cluster
torch-geometric
torch-scatter
torch-sparse
torch-spline-conv
torchaudio
torchvision
wcwidth

Werkzeug==2.0.1
xlrd==1.2.0
